/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/* accessability 10px font size. */
html {
     font-size: 62.5%;
   }

/******************************************
/* BASE STYLES
/*******************************************/

body{
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}

#game-screen{
     position: relative;
     display: inline-block;
     
}

#battle-screen{
     background-color: black;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     pointer-events: none;
     opacity: 0;
}
